/* Importanto iz antd-a mozes obrisat ako je viska */
.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.ant-layout-header {
  height: 64px;
  width: 100%;
  padding: 0 50px;
  position: absolute;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  background: rgba(1, 1, 1, 1);
  z-index: 100000;
}

.layout {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* .ant-layout-content {
  margin: auto;

  width: 25%;
  min-height: 0;
} */

.login-form {
  /* max-width: 300px; */
  margin: 0 auto;
}

@media only screen and (max-width: 420px) {
  form.ant-form.ant-form-horizontal {
    /* margin: 0 auto; */
    width: 100% !important;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}
  
}

.login-form-button {
  width: 100% !important;
  border-color: black;
  background-color: black;
}
form.ant-form.ant-form-horizontal {
  margin: 0 auto;
  width: 25%;
}

.footerCustom {
  display: none;
}
