.Step-Icon-Container {
  position: relative;
  margin-right: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;

  .Step-Icon-Background {
    font-size: 38px;
    height: 38px !important;
    width: 38px !important;
    color: white !important;
  }

  .Step-Icon {
    position: absolute;
    width: 38px !important;
    padding: 2px;
    font-size: 20px;
    z-index: 10;
    color: #131416 !important;
  }
}

.ant-steps-item-tail {
  opacity: 0;
}

.stepResetModal .ant-btn:hover {
  border-color: #ffbf00 !important;
}

.stepResetModal button:first-of-type {
  color: whitesmoke;
}

.stepResetModal button:first-of-type:active {
  border-color: #ff0033 !important;
}

.stepResetModal button:first-of-type:hover {
  border-color: #ff0033 !important;
}

.ant-steps-item-active {
  cursor: pointer;
}

.ant-steps-item-content {
  user-select: none;
}

.Step-Title {
  margin-bottom: 0 !important;
}

.Step-Disabled {
  h4,
  span,
  .Step-Icon-Background {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .ant-steps-item-title::after {
    background: gray !important;
  }
}

.Step-Active {
  h4,
  span,
  .Step-Icon-Background {
    color: #ffbf00 !important;
  }
  .ant-steps-icon .Step-Icon {
    color: #131416 !important;
  }
  .ant-steps-item-title::after {
    background: #ffbf00 !important;
  }
}

.Step-Finished {
  h4,
  span,
  .Step-Icon-Background {
    color: #ffbf00 !important;
    opacity: 0.4;
  }
  .ant-steps-item-title::after {
    background: #ffbf00 !important;
    opacity: 0.4;
  }
}
