.details {
  padding-left: 10em;
  padding-right: 10em;
  width: 100%;
  height: auto;
  background-color: #ffbf00;
  padding-top: 5em;
  padding-bottom: 5em;
}

@media only screen and (max-width: 700px) {
  .details {
    padding-left: 3%;
    padding-right: 3%;
  }

  .lastDiv h1 {
    font-size: 28px !important;
  }
}

.lastDiv {
  /* border: 1px solid #131416; */
  background-color: white;
  padding: 2% 2% 2% 2%;
  /* box-shadow: 0 0px 0px 0px white, 0 0px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 15px -4px rgba(31, 73, 125, 0.8); */
}

#btn3 {
  width: 100%;
  background-color: #131416;
  margin-top: 2em;
}

#btn4 {
  width: 100%;
  background-color: #131416;
}

.priceSummary {
  background-color: lightgray;
  /* border: 1px solid #131416; */
  /* box-shadow: 0 0px 0px 0px white, 0 0px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 15px -4px rgba(31, 73, 125, 0.8); */
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.total {
  background-color: lightgray;
  /* border: 2px solid #131416; */
  /* box-shadow: 0 0px 0px 0px white, 0 0px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 15px -4px rgba(31, 73, 125, 0.8); */

  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}
.total span {
  text-align: right;
}

.lastDiv {
  background: #131416;
  color: white;
}

.lastDiv h1 {
  color: #ffbf00;
  font-size: 32px;
  margin-bottom: 30px;
}

.infos .price {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

.additionalOptions .ant-checkbox-wrapper {
  color: white !important;
}

.additionalOptions .ant-checkbox-inner::after {
  border-color: black !important;
}

.billInfo {
  background-color: white;
  /* border: 1px solid #131416; */
  /* box-shadow: 0 0px 0px 0px white, 0 0px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 15px -4px rgba(31, 73, 125, 0.8); */

  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.vehicleImg {
  width: 20vw;
}

@media only screen and (max-width: 700px) {
  .vehicleImg {
    width: 55vw;
  }
}

.infos h2 {
  color: #131416;
  text-align: center !important;
  padding: 10px !important;
}

.details div {
  background: #131416;
}

.detailsBtn {
  display: flex;
  justify-content: flex-end;
}

.detailsBtn .ant-btn {
  width: 25% !important;
  justify-self: flex-end;
}

@media only screen and (max-width: 740px) {
  .detailsBtn .ant-btn {
    width: 100% !important;
    justify-self: flex-end;
  }
}

@media only screen and (max-width: 420px) {
  .lastDiv h1 {
    padding: 0;
    font-size: 24px;
  }
}

.infoinfo {
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.carCol {
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
}

.ant-checkbox-checked::after {
  border: 1px solid #ffbf00 !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border: 1px solid #ffbf00 !important;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
