.filterWrap {
  background-color: #141414;
  width: 90%;
  height: 5rem;
  margin: 0 auto;
  top: 2rem;
  padding: 10px;
  position: relative;
}

.childWrap {
  width: 100%; /*full width*/
  height: 100%;
  display: table; /*acts like a table*/
  padding-left: 2%;
  padding-right: 2%;
}
.childWrap h1 {
  color: white;
  margin: 0;
  padding: 0;
  vertical-align: middle; /*middle centred*/
  display: table-cell; /*acts like a table cell*/
}

.selectTag {
  vertical-align: middle;
  display: table-cell;
  padding-left: 1rem;
}

.rangePickerDate {
  margin: 1rem;
}

span.ant-select-selection-placeholder {
  font-weight: 500;
  color: darkgray;
}
.filtersMobile{
  display: none;
}
.filtersDesktop{
  display: contents;
}

@media only screen and (max-width: 420px) {
  .filtersMobile{
    display: block;
  }
  .filtersDesktop{
    display: none;
  }
  .ant-select.selectTag.selectTransVal.ant-select-single.ant-select-allow-clear.ant-select-show-arrow {
    padding: 0;
  }
  .ant-select.selectTag.selectFuelVal.ant-select-single.ant-select-allow-clear.ant-select-show-arrow {
    padding: 0;
    margin-top: 10px;
  }
  .ant-select.selectTag.selectDoorsVal.ant-select-single.ant-select-allow-clear.ant-select-show-arrow {
    padding: 0;
    /* width: 100% !important; */
  }
  .filterWrap {
    height: auto;
  }
  .ant-select.selectTag.selectSeatsVal.ant-select-single.ant-select-allow-clear.ant-select-show-arrow {
    padding: 0;
    margin-top: 10px;
  }
  .ant-col.ant-col-xs-24.ant-col-md-24.ant-col-lg-24 {
    padding: 0;
    margin-top: 10px;
}

  .ant-picker.ant-picker-range.rangePickerDate {
    margin: 0;
    /* margin-top: 10px; */
}
}
